<!DOCTYPE html>
	<html>
	<head>
		<title> file upload</title>
	</head>
	<body>
		<form method="POST" enctype="multipart/form-data">
	      Upload file:
	      <input type="file" name="n">
	      <input type="submit">
	    </form>
	</body>
	</html>
